#banner{	
	position: absolute;
	width: 728px;
	height: 90px;
	background-color: #85458a;
	overflow: hidden;
}

#person{
	position: relative;

	width: 329px;
	height: 399px;

	top: -40px;
	left: 237px;

	background: url("../img/person.png");
	background-size: cover;

	opacity: 0;
}

#logo{
	position: absolute;

	width: 52px;
	height: 52px;

	top: 15px;
	left: 580px;

	background: url("../img/logo.gif");	

	opacity: 0;
}

#logo_udf{
	position: absolute;

	width: 46px;
	height: 18px;

	top: 35px;
	left: 630px;

	background: url("../img/udf.jpg");	

	opacity: 0;
}

#text1{
	position: absolute;

	width: 268px;
	height: 36px;

	top: 20px;
	left: 90px;

	background: url("../img/processo-1-a.jpg");	

	opacity: 0;
}

#text2{
	position: absolute;

	width: 268px;
	height: 31px;

	top: 50px;
	left: 90px;

	background: url("../img/processo-1-b.jpg");	

	opacity: 0;
}

#text3{
	position: absolute;

	width: 84px;
	height: 62px;

	top: 13px;
	left: 14px;

	background: url("../img/processo-2.jpg");	
	background-size: cover;

	opacity: 0;
}

#paragrafo1{
	position: absolute;	

	top: 20px;
	left: 110px;

	font-family: Arial;
	font-size: 12px;
	color: #fff;

	opacity: 0;
}

#paragrafo2{
	position: absolute;	

	top: 40px;
	left: 110px;

	font-family: Arial;
	font-size: 12px;
	color: #fff;

	opacity: 0;
}

#paragrafo3{
	position: absolute;	

	top: 60px;
	left: 110px;

	font-family: Arial;
	font-size: 12px;
	color: #fff;

	opacity: 0;
}

#botao{
	position: absolute;	

	width: 161px;
	height: 30px;

	top: 26px;
	left: 408px;

	text-align: center;
	font-family: Arial;
	font-size: 20px;
	color: #fff;
	padding-top: 10px;

	background: #2377af;

	border-radius: 20px;

	opacity: 0;
}